* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}
.head{
    width: 100%;
    color: #374f77;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2b46;
    padding: 1rem 2rem;
    color: white;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.btn {
    padding: 0.7rem 1.2rem;
    margin-left: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-account {
    background-color: #6a4cf6;
    color: white;
}

.sign-in {
    background-color: #ffffff;
    color: #1b2b46;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2rem;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
}

.chart p {
    margin-bottom: 10px;
}

.dashboard-stats {
    margin-top: 20px;
}

.marketing-timer {
    font-size: 1.2rem;
    margin-top: 20px;
}

